/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 01-04-2019, 22:30:07
    Author     : Nicolas Muñoz
*/

#contenedor{
    width:100%;
}
#tituloSitio{
    width:100%;
    height: 100px;
    float: left;
	background: #022c43;
}
#menu{
    width: 20%;
    height: 500px;
    float: left;
	background: #3bb4c1;
}

#tituloPag{
    width:80%;
    height: 100px;
    float: left;
	background: #e9e4e6;
}

#contenido{
   width: 80%;
   height: 400px; 
   float: left;
   background: #f6f5f5;
}
